<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<div class="container" style="margin-top: 30px">
    <section class="container text-right">
        <div class="btn-toolbar">

            <button type="button" class="btn btn-primary" onclick="goToLogin()">Login</button>
            <script>
                function goToLogin() {
                    location.href = "/login";
                }

                function callSearch() {
                    location.href = "/search/" + document.getElementById('mySearch').value;
                }
            </script>
            <button type="button" class="btn btn-warning" onclick="signUp()">Sign Up</button>
            <script>
                function signUp() {
                    location.href = "/sign-up";
                }
            </script>
        </div>

    </section>
    <section class="container text-left">
        <input type="search" id="mySearch" placeholder="Search for something.." size="70">
        <br>
        <br>
        <button type="button" class="btn" onclick="callSearch()">Search</button>
    </section>
</div>
<p>
    This is not supposed to happen. We are informed about this and we are working on it to fix it.
</p>
</body>
</html>