<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<p>
    <img src="/images/error_image.png" height="70%" width="70%"
         alt="Looks like we couldn't connect ansychronously with DB to serve you better. Please try again later.">

</p>

<p>
    <h> Click <a href="/">here</a> to start again.</h>
</p>
</body>
</html>