<!--Referenced from :
https://github.com/braitsch/node-login
https://github.com/braitsch/node-login
https://github.com/scotch-io/easy-node-authentication
https://scotch.io/tutorials/easy-node-authentication-setup-and-local
http://www.thatsoftwaredude.com/content/6125/how-to-paginate-through-a-collection-in-javascript
https://www.djamware.com/post/58eba06380aca72673af8500/node-express-mongoose-and-passportjs-rest-api-authentication
http://jsfiddle.net/asimshahiddIT/jrjjzw18/
http://expressjs.com/en/starter/static-files.html
http://fontawesome.io/examples/-->


<!doctype html>
<html>
<head>
    <title>Recommendation System</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/index.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <i class="fa fa-stack-overflow fa-5x" aria-hidden="true"> Recommendation System</i>
    </div>

    <div class="text-center fa-2x">
        <h1>Recommendation System</h1>

        <p>Login or Sign Up</p>
    </div>
    <div class="topcorner">
        <a href="/login" class="btn btn-lg"><span class="fa fa-user" aria-hidden="true"></span>Login</a>
        <a href="/sign-up" class="btn btn-lg"><span class="fa fa-user" aria-hidden="true"></span>Sign-up</a>
    </div>

</div>
</body>
</html>