<!--Referenced from :
https://github.com/braitsch/node-login
https://github.com/braitsch/node-login
https://github.com/scotch-io/easy-node-authentication
https://scotch.io/tutorials/easy-node-authentication-setup-and-local
http://www.thatsoftwaredude.com/content/6125/how-to-paginate-through-a-collection-in-javascript
https://www.djamware.com/post/58eba06380aca72673af8500/node-express-mongoose-and-passportjs-rest-api-authentication
http://jsfiddle.net/asimshahiddIT/jrjjzw18/
http://expressjs.com/en/starter/static-files.html
http://fontawesome.io/examples/
http://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/line-time-series/
https://jsfiddle.net/jon_a_nygaard/bpnq9px7/
-->
<!doctype html>
<html>
<head>
</head>
<body onload="personalized_post()">
<div class="container" style="margin-top: 30px">
    <section class="container text-right">
        <div class="btn-toolbar">

            <script>
                function personalized_post() {
                    location.href = "/personalized_post/1";
                }
            </script>
        </div>
    </section>
</div>
</body>
</html>
