<!--Referenced from :
https://github.com/braitsch/node-login
https://github.com/braitsch/node-login
https://github.com/scotch-io/easy-node-authentication
https://scotch.io/tutorials/easy-node-authentication-setup-and-local
http://www.thatsoftwaredude.com/content/6125/how-to-paginate-through-a-collection-in-javascript
https://www.djamware.com/post/58eba06380aca72673af8500/node-express-mongoose-and-passportjs-rest-api-authentication
http://jsfiddle.net/asimshahiddIT/jrjjzw18/
http://expressjs.com/en/starter/static-files.html
http://fontawesome.io/examples/-->
<!doctype html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-multiselect.css" type="text/css">
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#boot-multiselect-demo').multiselect()({
            includeSelectAllOption: true,
            buttonWidth: 400,
            enableFiltering: true
        });
    });
</script>


<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa"></span>Sign-up</h1>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form action="/sign-up" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="form-group">
            <select id="boot-multiselect-demo" multiple="multiple">
            </select>
                <script>
                    var cuisines = ["Chinese","Indian"];
                    var sel = document.getElementById('boot-multiselect-demo');
                    for(var i = 0; i < cuisines.length; i++) {
                        var opt = document.createElement('option');
                        opt.innerHTML = cuisines[i];
                        opt.value = cuisines[i];
                        sel.appendChild(opt);
                    }
                </script>
            </div>
            <button type="submit" class="btn btn-default btn-lg">Sign Up</button>
        </form>


        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or click <a href="/">here</a> to start again.</p>
    </div>
</div>
</body>
</html>
