td.posts {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color: red;
    font-size: 20px;
    border-top: 1px solid #ddd;



}
.form-control-custom {

    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.custom-input-group{
    padding: 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border-radius: 0;
    white-space: nowrap;
    height: auto

}
input-group-btn-custom{
    margin-top: 0%;
    position: absolute;
    display: table-cell;

}
a.anchor_post{
    color: dodgerblue;

}
td.last_td{
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

table.post_table{

    margin-bottom: 40px;
    background-color: transparent;
    width: 100%;

}
tr.spaceUnder>td {
    padding-bottom: 0em;
}
.section1{
    margin-top: 30px;
    width:75%;
    float:left;
    height:100%;
}

.section2{
    margin-top: 150px;
    width:20%;
    float:right;
    height:100%;
}
.container_fluid{
    width: 1200px;
    margin-right: auto;
    margin-left: auto
}